.pageFooter{
    font-family: Poppings;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0%;
    text-align: center;
    gap: 64px;


    a:link{
        text-decoration: underline;
        text-decoration-style: solid;
    }

    a:link, a:visited, a:active{
        color: var(--webkit-link);
    }

    a{
        margin: 0 0.35rem;
    }
}