.pricingContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.subsTypeList{
    width: 100%;
    max-width: 1280px;

    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

    img{
        width: 24px;
        height: 24px;
        margin: 0;
    }
}

.pricingOption { 
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
    max-width: 410.67px;
    height: 317px;
    color: var(--text-color);
    border: 2px solid var(--subscription-type-border);
    border-radius: 21px;
    /* overflow: hidden; */
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.pricingOption:has(.selectToggle){
    border: .75px solid var(--subscription-border);
}

.pricingOption:has(.selectToggle[data-state="on"]){
    border-color: var(--selected-subscription-bg);
}

.pricingOption:hover{
    transform: translateY(-8px); 
    
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.25);
    
    border-color: var(--subscription-type-border); 

}

.subsTypeList:has(.pricingOption:hover) > .pricingOption:not(:hover) {
    filter: blur(2px);
}

.typeDesc {
    max-width: 410.67px;
    max-height: 150px;
    background-color: var(--subscription-type-bg);
    padding: 24px;
    border-radius: 20px 20px 0 0;
}

.subPricing {
    position: relative;
    max-width: 410.67px;
    min-height: 119px;
    display: flex;
    flex-direction: column;

    #monthlyBilling {
        width: 100%;
        max-width: 167px;
        height: 30px;
        display: flex;
        column-gap: 12px;
        padding-left: 12px;
    }

    .separator {
        display: flex;
        align-items: center;
        column-gap: 12px;
        width: 100%;
    }

    .separator::before{
        content: "";
        flex: 1;
        background-color: var(--dark-separator);
        max-width: 45%;
        height: 0.75px;
    }

    .separator::after{
        content: "";
        flex: 1;
        background-color: var(--dark-separator);
        max-width: 45%;
        height: 0.75px;
    }

    #yearlyBilling{
        display: flex;
        position: relative;
        padding-left: 12px;
        padding-top: 20px;
        column-gap: 12px;

        #savings{
            position: absolute;
            right: 10px;
            width: 147px;
            height: 33px;
            padding: 6px 12px;
            background-color: var(--subscription-type-bg);
            border-radius: 34px;
            text-wrap: wrap;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
        }
    }
}

.selectToggle{
    position: absolute;
    border-radius: 50% !important;
    border: 3px solid var(--select-tick-border) !important; 
    right: 12px;
    top: 60%;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    .selectTick{
        height: 12px;
        width: 17px;
    }
    &[data-state="on"]{
    background-color: var(--selected-subscription-bg) !important;
    border-color: var(--selected-subscription-bg) !important;
    background-image: url(@/assets/icons/selectedTick.png);
    background-size: 17px 12px;
    background-repeat: no-repeat;
    background-position: center;
    visibility: visible;
    .selectTick {
        display: none;           
    }
}}

@media screen and (width < 500px) {
    .selectToggle{
        height: 30px;
        width: 30px;
    }
}

#monthlyBilling .selectToggle{
    top: -7px;
    right: 12px;
}

.pricingOption:has(.selectToggle[data-state="on"]) .typeDesc{
    background-color: var(--selected-subscription-bg) !important;
    color: var(--selected-subscription-text);
}

.pricingOption:has(.selectToggle) .subPricing{
    #yearlyBilling{

        #savings{
            position: absolute;
            bottom: -42px;
            left: 12px;
            width: 147px;
            height: 33px;
            padding: 6px 12px;
            background-color: var(--subscription-type-bg);
            border-radius: 34px;
            text-wrap: wrap;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
        }
    }
}

@media screen and (width > 850px) {

.pricingOption:has(.selectToggle){

    .typeDesc{
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    #type{
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0px;
    }

    #desc{
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 0px;
    }

    .subPricing{
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0px;
    }
}
}