
.updatePasswordContainer{
    position: fixed;
    top: 55%;
    left: 50%;
    width: clamp(250px, 50vw, 500px) !important;
    background-color: var(--login-form-color);
    color: var(--text-color);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    button[data-slot="dialog-close"]{
        position: fixed;
        top: 17px;
    }
}

.updatePasswordForm{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

input::placeholder{
    color: var(--input-placeholder);
}

.updateBtn{
    justify-self: left;
    max-width: 130px;
    color: var(--text-input);
    font-weight: 500;
    font-size: 14px;
}