.matchComparison{
    font-family: Poppins;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span{
        font-weight: 400;
        color: var(--match-comparison-text);
    }
    .winRate{
        font-family: inherit;
        font-weight: 500;
        font-size: 36px;
        color: var(--text-color);
    }
}

.comparisonHeader{
    font-family: inherit;
    font-weight: 400;
    color: var(--text-color);
}

.comparisonContainer{
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: var(--comparison-container-bg);
    border-radius: 6px;
    padding: 16px;
    margin-top: 25px;
}

.compLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        width:  20px;
    }

    .separator::before{
        background-color: var(--text-color);
    }
}

.complogo{
    display: flex;
    flex-direction: column;
    gap: 6px;   
}

.compRate{
    .winRate, .lossRate{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .winRate{
        color: var(--win-color);
    }
    .lossRate{
        color: var(--loss-color);
    }
}